<!DOCTYPE html>
<html>
<head>
    <title>GPA Calculator</title>
</head>
<body>
<h1>Enter your grades and number of credits</h1><br/>

    <form name="gpa">
        <input type="text" id="firstGrade" value="enter grade"/>
        <label>Credits:
        <select id="first">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </label>
        <br/>

        <input type="text" id="secondGrade" value="enter grade"/>
        <label>Credits:
            <select id="second">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </label>
        <br/>

        <input type="text" id="thirdGrade" value="enter grade"/>
        <label>Credits:
            <select id="third">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </label>
        <br/>

        <input type="text" id="fourthGrade" value="enter grade"/>
        <label>Credits:
            <select id="fourth">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </label>
        <br/><br/>
        <input type="button" id="gpaCalc" value="Calculate GPA"/>
        <br/><br/>
    </form>

<p id="CalculatedGPA"></p>

</body>
</html>